


html {
    /*height: 100%;*/
}


@font-face {
    font-family: 'bubble';
    src: url('../media/ttf/bubble.ttf') format('truetype');
}

@font-face {
    font-family: 'block';
    src: url('../media/ttf/block.ttf') format('truetype');
}

@font-face {
    font-family: 'rufa';
    src: url('../media/ttf/rufa.ttf') format('truetype');
}

#logo {
    width: 40%;
    margin-left: 30%;

}

#grafiti {
    font-family: rufa !important;
    text-align: center;
    font-size: 6em;
    position:relative;
    letter-spacing: 0.07em !important;
    left:-10px;
    z-index: -1 !important;
    border-bottom-style: dotted;
    border-bottom-width: 3px !important;


}


#subtitle{
    /*background-color: #4AB1D7;*/
    /*background-image: radial-gradient(90deg, #4AB1D7 0%, rgba(0, 82, 255, 0.0150) 20%) ;*/
    font-size: 0.7em !important;

    /*padding: -5px;*/
    padding-top: 4px !important;
    padding-left: 3px !important;

    text-align: center;

}

.subtitle-center{
    text-align: center !important;
}

.subtitle-left{
    text-align: left !important;
}

.footer {

    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    /* Set the fixed height of the footer here */
    height: 3em !important;
    background-color: #f5f5f5 !important;
}

#carola-nav{
    z-index: 1000 !important;
    width: 100% !important;
}


#carola-nav > ul > li > a{
    font-weight: bold;
}



form#carola-form {
    width: 100% !important;
}

#carola-search-box{
    /*background-color: #b94a48 !important;*/
    padding: 2em !important;
    margin: 1em;

}

#carola-form a, #carola-form strong{
    text-align: start !important;
}

.carola-search-box-center{
    text-align: center !important;
    margin-top: 9.5% !important;
}
#contenido {
    min-height: 100% !important;
}

.btn {
    border-radius: 0px !important;
    text-transform: uppercase !important;
    font-family: sans-serif !important;
    font-weight: bold !important;
    text-spacing: normal !important;
}

#carola-search-box .glyphicon {
    position: inherit !important;
}

#mypaginator .pagination {
    /*z-index: -1 !important;*/
    /*position: none !important;*/
}

.carola-search-box-left{
    text-align: start !important;
    margin: 5px !important;
    padding: 5px !important;
}

.nav-pills > li > a {
    border-radius: 0px !important;
}











#carola-search-box .table{
    margin-top: 1em !important;
}

#carola-search-box .table {
    margin-bottom: 8em !important;
}

.panel {
    margin-top: 0.9em !important;
    width: 19em;
}

input.typeahead-suggestion{
    width:34em;
    margin: 0 auto;
}

@media (max-width: 978px) {
    input.typeahead-suggestion{
        width: 24em ;
        margin: 0px;
    }
    #carola-search-box{
        margin: 0px !important;;
        padding: 0px !important;;
    }
    .panel .panel-body{
        padding: 0px ;
    }
    .panel{
        width: 12em;
    }
    #grafiti{
        font-size: 4em;
    }
}



#carola-search-box .table > tbody > tr:hover > th {
    background-color: transparent !important;
}

footer#colophon > a {
    text-transform: UPPERCASE;
    text-decoration-style: dashed;
    text-decoration: none ;
    margin: 1em;
}

/*#administrar{*/
/*float: left;*/
/*}*/

/*#copyright{*/
/*float: right;*/
/*}*/