{% extends 'backend/layout.html' %}
{% block content %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>No.</th>
				<th>Activo</th>
				<th>Descripción</th>
				<th>Dirección</th>
				<th>Usuario</th>
				<th>Estado</th>
				<th>Último escaneo</th>
				<th>Mensaje</th>
				<th width="150px">Acciones</th>
			</tr>
		</thead>
		<tbody id="ftplist">
			{% if results | length == 0 %}
				<tr id='emptyrow'>
					<td colspan="6">No hay ftps para mostrar. Inserte un nuevo ftp para comenzar a trabajar.</td>
				</tr>
			{% else %}
				{% for ftp in results %}
					<tr id="rowid{{ ftp.id }}">
						<td>{{ loop.index }}</td>
						<td class="text-center">
							<span class="glyphicon {% if ftp.activo %}glyphicon-ok {% else %}glyphicon-remove {% endif %}> "></span>
							 
							
						</td>
						<td>{{ ftp.descripcion }}</td>
						<td>{{ ftp.direccion_ip}}</td>
						<td>{{ ftp.user }}</td>
						<td id='row{{ ftp.id }}statustd'>{{ ftp.status }}</td>
						<td>{{ ftp.date_last_scan | date('d/m/Y') }}</td>
						<td>{{ ftp.message }}</td>
						<td>
							<a href='#' onclick='ShowEditFTPDialog({{ ftp.id }})' title="Editar"><span class="glyphicon glyphicon-edit"></span></a>
							&nbsp;&nbsp;
							<a href='#' onclick='ShowDeleteFTPDialog({{ ftp.id }})' title="Eliminar"><span class="glyphicon glyphicon-trash"></span></a>
							&nbsp;&nbsp;
							<a href="" onclick="return IndexarFTP({{ ftp.id }}, '{{ ftp.direccion_ip }}', this)" {% if not ftp.activo or ftp.status == 'Indexando...' %} class="disabled" title="No se puede indexar el ftp. Está desactivado o se está indexando en estos momentos."{% else%} title="Indexar" {% endif %} ><span class="glyphicon glyphicon-play"></span></a>
							&nbsp;&nbsp;
							<img style="display: none" src="{{ app.request.basepath }}/img/ajax-loader.gif" alt="">
						</td>
					</tr>
				{% endfor%}
			{% endif %}
		</tbody>
	</table>
{% endblock %}