<div id="carola-nav" style="position:fixed;top:0px;">
    <ul class="nav nav-pills" style="margin-left:40px;">
        <li class="dropdown">
            <a id="drop4" role="button" data-toggle="dropdown" href="#">Web Sociales<b class="caret"></b></a>
            <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://192.168.32.1/netlab/">NetLab</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://192.168.128.1/forum/">Foro SNET</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://192.168.39.1/Social_Habana/index.php/">Social Habana</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://192.168.172.5/havanabook/">Social Habana Book</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://192.168.176.4/sigueme">Sigueme</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a id="drop5" role="button" data-toggle="dropdown" href="#">Documentacion <b class="caret"></b></a>

            <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://192.168.176.2:8002/wikipedia_en_all_02_2014/">Wikipedia</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://192.168.32.1:8080/stackoverflow">Stack Overflow</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://192.168.32.1/zeal/">Zeal</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://192.168.32.1:9292/">DevDocs</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://192.168.32.1/w3schools">W3Schools</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://192.168.32.1/jqapi/">Jqapi</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://192.168.32.1/zeal/docset/Bootstrap/Contents/Resources/Documents/getbootstrap.com/index.html">Bootstrap 3</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a id="drop6" role="button" data-toggle="dropdown" href="#">Ftp's <b class="caret"></b></a>
            <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop6">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Ftp comunidad NetLab (32.2)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Ftp SNET I(128.1)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Ftp SNET II(128.2)</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a id="drop7" role="button" data-toggle="dropdown" href="#">Jabber <b class="caret"></b></a>
            <ul id="menu4" class="dropdown-menu" role="menu" aria-labelledby="drop7">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">XMPP 32.1 (NetLab)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">XMPP 128.1 (SNET)</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a id="drop8" role="button" data-toggle="dropdown" href="#">Juegos <b class="caret"></b></a>
            <ul id="menu4" class="dropdown-menu" role="menu" aria-labelledby="drop8">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Dota I</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Dota II</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Dota III</a></li>
            </ul>
        </li>
        <li class="dropdown pull-right">
            <a id="drop8" role="button" data-toggle="dropdown" href="#">Estilo <b class="caret"></b></a>
            <ul id="menu4" class="dropdown-menu" role="menu" aria-labelledby="drop8">

                {% set searchedtext = app.request.query.has('searchedtext') ? app.request.query.get('searchedtext') : null %}
                {% set offset = app.request.query.has('offset') ? app.request.query.get('offset') : 0 %}
                {% set limit = app.request.query.has('limit') ? app.request.query.get('limit') : 30 %}


                <!-- TODO: Aqui lo ideal es tirar un for each en la carpeta css para cargar los temas automaticamente
                 Para facilitar eso hice que el nombre del tema fuera el mismo que el valor que se le asigna a &style y que el substring del nombre del .css, de esta forma seria tirar los temas en la carpeta y se incluirian solos cuando se haga el for-->
            {% for theme in app.ListThemes %}
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="{% if not searchedtext is none %}?{{ 'searchedtext=' ~ searchedtext ~ '&offset=' ~ offset ~ '&limit=' ~ limit ~ '&style={{theme}}' }}{% else %}?style={{theme}}{% endif %}">{{theme}}</a>
                </li>
            {%endfor %}
                
                
               
            </ul>
        </li>
    </ul> <!-- /tabs -->
</div>